<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <link href="../resources/prism.css" rel="stylesheet">
</head>
<body>
<pre>
    <code class="language-css">
 
       ::placeholder {
           color: var(--placeholder);
           opacity: 1;
       }
 
    </code>
 </pre>

<pre>
    <code class="language-js">

        function run(){
            document.querySelector(".response").innerHTML = "Updated";
        } 

    </code>
</pre>
<script src="../resources/prism.js"></script>
</body>
</html>
