<br />
<h3>HTML</h3>

<pre>
    <code class="html">
    &lt;!DOCTYPE html&gt;
    &lt;html&gt;
    &lt;head&gt;
      &lt;meta charset="UTF-8"&gt;
      &lt;title&gt;Example&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
      &lt;h1&gt;Hello World!&lt;/h1&gt;
    &lt;/body&gt;
    &lt;/html&gt;
  </code>
</pre>

<h3>JavaScript</h3>

<pre>
    <code class="javascript">
    function factorial(n) {
      if (n <= 1) {
        return 1;
      } else {
        return n * factorial(n-1);
      }
    }
    console.log(factorial(5)); // Output: 120
  </code>
</pre>

<h3>CSS</h3>

<pre>
    <code class="css">
    body {
      background-color: #f1f1f1;
    }

    h1 {
      color: #555;
      text-align: center;
    }
  </code>
</pre>

<h3>JSON</h3>

<pre>
    <code class="json">
    {
      "name": "John Doe",
      "age": 30,
      "email": "johndoe@example.com",
      "address": {
        "street": "123 Main St",
        "city": "Anytown",
        "state": "CA",
        "zip": "12345"
      }
    }
  </code></pre>
